@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #020617;
}

::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3b82f6;
}

/* Custom background for specific sections */
.bg-mesh {
  background-image: 
    radial-gradient(at 0% 0%, hsla(217,100%,50%,0.1) 0, transparent 50%), 
    radial-gradient(at 50% 0%, hsla(186,100%,52%,0.1) 0, transparent 50%), 
    radial-gradient(at 100% 0%, hsla(217,100%,50%,0.1) 0, transparent 50%);
}
